
@font-face { 
    font-family: "Audimat Mono"; 
    src: url("AUDIML.TTF"); 
}

* {
    margin: 0px;
}

html {
    font-size: 100%;
}

body {
    background: none repeat scroll 0 0 #FCFCFB !important; 
    /*background-color: #FCFCFB !important;*/
    color: #000;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 15px;    
}

header {
    display: block;
    background: none repeat scroll 0 0 #FCFCFB;
    height: 85px;
    left: 0px;
    position: relative;
    width: 100%;
    /*z-index: 9999;*/
    /*top: 0px;*/
    min-width: 925px; 
    padding-bottom: 22px;
    margin-bottom: 25px;
    border-bottom: 1px solid #E7E7E6;
    color: #949494;
}

#header_content {
    margin-top: 0px;
    margin-bottom: 0px;
}

#main {
    max-width: 1200px;
    margin: 0px auto;
}

#fixed_main {
    width: 1050px;    
    max-width: 1200px;
    margin: 0px auto;
    /*border: 1px solid #000;*/
}

::selection {
    background: #71A39D;
    color: #FFF;
}

::-moz-selection {
    background: #71A39D;
    color: #FFF;
}

::-webkit-selection {
    background: #71A39D;
    color: #FFF;
}

a {
    text-decoration: none;
    border: none;
    outline: none;
    color: rgb(67,117,135);
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0px;
    font-weight: 400;
    line-height: 1.3;
    text-rendering: optimizelegibility;
}

#logo {
    position: absolute;
    top: 22px;
    left: 30px;
    width: 300px;    
}

#navigation {
    left: 380px;
    position: absolute;
    top: 67px;
    width: 500px;
}

#sub-navigation {
    left: 280px;
    padding-bottom: 60px;
    position: absolute;
    right: 0;
    top: 122px;
}
/*
#content {
    left: 280px;
    padding-bottom: 60px;
    position: absolute;
    right: 0;
    top: 122px;
}*/

.levelOnecontainer {
}

.levelOne {
    height: 21px;
    margin: 0;
    padding: 0;
}

.levelOne li {
    float: left;
    height: 21px;
    list-style: none outside none;
    margin: 0;
}

.levelOne li:last-child img {
    display: none;
}

.levelOne li a, .levelOne li a:link, .levelOne li a:visited {
    color: #949494 !important;
    padding: 0;
    text-decoration: none !important;
}

.levelOne li a:hover {
    color: #44463B !important;
    text-decoration: underline !important;
}

.levelOne li a.active {
    color: #44463B !important;
    text-decoration: underline !important;
}


img {
    border: 0 none;
}

p {
    line-height: 22px;
    margin: 0;
    padding: 0;
}

ul, ol, li, form {
    margin: 0;
}

.menue_seperator {
    margin-bottom: 5px;
    margin-left: 17px;
    margin-right: 18px;
}

.seperator {
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
}

footer {
    background: none repeat scroll 0 0 #FCFCFB;
    bottom: 0;
    font-size: 15px;
    height: 40px;    
    position: relative;
    width: 100%;
    z-index: 99;
    min-width: 925px; 
    color: #949494;
}

#footer_content {
    padding-left: 280px;
    margin-top: 10px;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 87%;
    padding: 0;
    margin: 0 auto;   
    min-width: 800px;
}

.rslides li {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;   
}

#slides {      
    padding-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(224,206,190);
}

#intro_strap {
    padding: 60px 0px 80px;
    border-bottom: 1px solid rgb(224,206,190);
}

#intro_content {
    width: 600px;
    padding: 0 20px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    color: rgb(0,0,0);
    text-align: center;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.01);
}

#social {
    margin: 20px auto auto;
    text-align: center;
    color: #949494;
}

.centre {
    text-align: center;
}

.right {
    text-align: right !important;       
}

.left {
    text-align: left !important;
}

.large {
    font-size: 20px;
    line-height: 24px;
    color: rgb(0,0,0); /*color negro*/
    text-shadow: 0px 0px 1px rgba(0,0,0,0.1);
}

.medium {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: rgb(153,153,153); /*color gris*/
}

.little {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    font-weight: normal;
    color: rgb(51,51,51);/*gris muy oscuro*/       
    letter-spacing: 1px;
}

.little2 {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    font-weight: normal;
    color: rgb(153,153,153);/*gris*/       
    letter-spacing: 1px;
}

.little3 {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: rgb(51,51,51);/*gris muy oscuro*/
}

#main_strap {
    padding: 60px 0px 80px;
    border-bottom: 1px solid rgb(224,206,190);
}

#islands {
    color: #000;
}

#island_left {
    width: 350px;
    float: left;
    margin-left: 115px;
    margin-right: 120px;
}

#island_right {
    width: 350px;
    float: left;
    margin-right: 115px;
}

.spacer {
    clear: both;
}

#contact_main {
    padding: 10px;    
}

#contact_secondary {
    padding: 10px;   
}

#map, #contact {
    width: 495px;
    float: left;  
    padding: 10px 10px 20px 10px;
}

#gmap {
    width: 485px;
    height: 265px;    
}

#map-shadow {
    padding: 5px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

fieldset dd {
    margin: 0;
    padding-top: 5px; 
    padding-bottom: 5px;
}

fieldset {
    border: 0;
    padding: 0;
}

input, textarea, select {
    line-height: 15px;
    font-size: 13px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400; 
    /*color: #000;*/
}

textarea {
    resize: vertical;
}

input[type="text"], input[type="email"], 
input[type="url"], input[type="password"],
textarea {
    padding: 8px 10px;
    background-color: rgb(255,255,255) !important;  
    color: rgb(102,102,102);
    outline: 0px none;
    border: 1px solid rgb(204,204,204);
    border-radius: 3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow: 0px 0px 1px rgb(238,238,238);
    -moz-box-sizing: border-box;
}

.footer_form {
    padding: 5px 10px 10px 0px;
}

.footer_form2 {
    margin-top: 20px;
    padding: 5px 10px 10px 0px;
}

#medium {
    margin: 20px auto;
    width: 650px;
    padding: 20px;    
    /*border: 1px solid #000;   */
}

#login {
    margin-top: 0;
    margin-bottom: 50px;
    padding: 20px 80px 30px 80px;    
}

.contact-data {
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

#body_login_form input[type="text"],
#body_login_form input[type="password"] {
    width: 160px;
}

.errorMessage { 
    margin: 0 0 0 23px;
    padding: 0;
    list-style: none;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: rgb(51,51,51);/*gris muy oscuro*/
}

#errorDiv {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 400px;
}

#barraSesion {
    height: 20px;
    width: 100%;
    background-color: #fff8c2;        
    /*text-align: right;  */  
    border-radius: 8px;
    position: relative;
    padding: 5px 0; /*para que funcione el centrado vertical con padding 
                    no se establece el valor height del elemento*/    

    background: #999; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A9A9A9', endColorstr='#7A7A7A'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#A9A9A9), to(#7A7A7A)); /* for webkit browsers */
    background: -moz-linear-gradient(center top , #A9A9A9, #7A7A7A) repeat scroll 0 0 transparent;

    border: 1px solid #6D6D6D;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);  
}

#pageNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#pageNavHolder {
    max-width: 900px;
    overflow: hidden;       
}

#usuarioSesion {
    color: #E7E5E5;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;    
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);   
    float: left;
    /*border: 1px solid #000;*/
}

#opcionesSesion {
    float: left;
    margin-left: 5px;
}

#opcionesSessionLink {
    display: inline-block;
    height: 20px;    
}

#opcionesSesionLabel {
    background-image: url("../img/flecha-abajo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 20px;
    width: 20px;
    /*border: 1px solid #000;*/
}

#menuSesion {
    width: 180px;
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, 0.4);
    text-align: left; 
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;  
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px 3px 3px 3px;    
}

#menuSesion li {    
    padding: 3px 10px;
}

#menuSesion a {
    text-decoration: none;
    color: #666666;
    display: block;
    width: 100%;    
}

#menuSesion li:hover {
    background-color: #eceadf;
}

.rfloat {
    float: right;
}

.lfloat {
    float: left;
}


/* Menú vertical desplegable
----------------------------------------------- */
.menu_list {
    width: 180px; /* Ancho del menú */
}

.menu_head {
    padding: 5px 10px;
    color:#B3B3B3; /* Color de las pestañas principales */
    cursor: pointer;
    position: relative;
    margin:1px;
    margin-left:0;
    margin-right:0;
    /*font-weight:bold;*/
    background-color: #424242; /* Color de fondo */
    background-image: url(https://lh5.googleusercontent.com/-mQHPLQrjxcI/TlQJSHgEsZI/AAAAAAAABno/HbkoM9nbaWQ/flecha-abajo.png);
    background-position:center right;
    background-repeat:no-repeat;
}

.menu_head_link {
    padding: 5px 10px;
    color: #B3B3B3; /* Color de las pestañas principales */
    cursor: pointer;
    position: relative;
    margin:1px;
    margin-left:0;
    margin-right:0;
    /*font-weight:bold;*/
    background-color: #424242; /* Color de fondo */
    background-image: none;
}

.menu_head_link a {
    color: #B3B3B3; 
    text-decoration: none;
    display: block;
}

.menu_body {
    display:none;
}
.menu_body a{
    display:block;
    color: #666666; /* Color de los enlaces */
    background-color:#BDBDBD; /* Color de fondo de los enlaces */
    padding-left:10px;
    /*font-weight:bold;*/
    text-decoration:none;
}
.menu_body a:hover{
    color: #000000; /* Color de los enlaces al pasar el cursor */
    text-decoration:underline;
}


/********************/

#widthArea {
    clear: both;
    padding: 20px 0px 80px;    
    border-bottom: 1px solid rgb(224,206,190);
}

#lateralLeft {
    width: 190px;   
    height: 400px;
    float: left;
    padding-top: 10px;
    border-right: 1px solid rgb(224,206,190);
}

#contentArea {
    /*border: 1px solid #000;*/
    float: left;
    width: 849px;    
    padding-top: 10px;
    padding-left: 10px;
}

#headerContentArea {

}

#searchBar {
    width: 270px;
}

#search {
    width: 100%;
    padding-left: 32px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    background: url('../img/iconic/magnifying_glass_16x16.png') no-repeat 8px center;
}

#divPad {
    padding: 5px 0;
}


#d1 {
    padding: 5px 0;   
}

.aImgElc {
    display: block;
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 15px;
}

.aImgElc .img, #imgHeaderCliente .img {
    display: block;
}

.divDerechaElc {
    padding: 10px 15px 5px 8px;
    width: 283px;
    float: left;
}

.elementoListaClientes {
    width: 350px;
    min-height: 110px;
    background-color: #f4ebd3; 
    margin: 15px auto;
    border-radius: 25px;
    overflow: hidden;
}

.elementoListaClientes:hover {
    background-color: #F5E4BC;
}

.lineaDetalleElc {
    display: block;
    width: auto;
}

.linksElc {
    display: block;
    width: auto;
    margin-top: 5px;
}

.tituloClienteElc {
    font-size: 17px;
    line-height: 21px;
    font-weight: bold;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.1);
}

.tcElcContainer {
    width: 100%;
    margin-bottom: 5px;
}

.detallesElc {
    color: #7A7A7A;
}

.linkUnderline:hover {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

#dSearch {
    width: 100%;
    padding: 3px 5px;    
    border-radius: 0;
}

#dSearchBar {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(224,206,190);
}

#leftSB {    
    float: left;    
    padding: 3px 0;  
}

#rightSB {
    width: 265px;
    float: right;    
}

/*estilo para que los widgets no tengan la fuente más grande*/
.ui-widget {
    font-size: inherit !important;
}

#dListaClientes {
    height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#dListaClientes ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dElementoListaClientes {
    height: 25px;
    padding: 5px 10px 5px 30px;
    color: rgb(67,117,135); /*color azul del logo*/
    background-color: #FCF6F0;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold; 
    border-bottom: 1px solid #E6E6E6;
    cursor: pointer;
}

.delementoListaClientes:hover {
    background-color: #F5E4BC;
}

.dElcSelected {
    background-color: #F5E4BC;
    background-image: url('../img/iconic/arrow_right_12x12.png');
    background-repeat: no-repeat;
    background-position: 8px center;
}

.loadingGif {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    background-image: url('../img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

#dCriterioBusqueda {
    width: 155px;
}

#loginFormWrapper {
    margin-top: 10px;
}

#form_wrapper {
    margin-left: 40px;
    margin-top: 10px;
}

.inputForm input[type="text"] {
    /*width: 180px;*/
}

.inputForm fieldset dt {
    clear: both;
    float: left;
    width: 160px;    
    padding: 10px 5px;
    text-align: right;    
}

.inputForm fieldset dd {
    width: 300px;
    float: left;
    margin: 0;
    padding: 10px 5px; 

}

.inputForm fieldset dl, .inputForm fieldset dl, 
.inputForm fieldset dl {
    padding-left: 25px;
}

.inputForm fieldset legend, .inputForm fieldset legend, 
.inputForm fieldset legend {
    padding-top: 40px;
    padding-bottom: 15px;
}

#detallesAsiento {
    padding: 8px;
    border: 1px solid #ADC6C7;

}

#detallesAsiento tbody td {    
    text-align: center;
    padding: 5px;
}

.inputMedium {
    height: 30px !important;
    width: 140px !important; 
    padding: 0 !important;
}

.inputLittle {
    height: 25px !important;
    width: 50px !important;  
    padding: 0 !important;
}

.inputLarge {
    height: 30px !important;
    width: 170px !important;  
    padding: 0 !important;
}

.inputLarge2 {
    height: 25px !important;
    width: 170px !important;  
    padding: 0 !important;
}

.topBorder {
    border-top: 1px solid #ADC6C7;
}

.bottomBorder {
    border-bottom: 1px solid #ADC6C7;
}

.border1 {
    border: 1px solid #999 !important;
    border-radius: 0 !important;
}

#tbodyCargo, #tbodyAbono {
    font-family: "Audimat Mono", monospace;
    font-size: 15px;
}

#libros_wrapper, #divR_wrapper {
    margin-left: 40px;
    margin-top: 30px;
}

.libro_wrapper, .divR {
    padding: 5px;
}

#headerClienteSesionAdm {
    border-bottom: 1px solid rgb(224,206,190);
    margin-bottom: 40px;
}

#imgHeaderCliente {
    display: block;
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 15px;
}

#derechaHeaderCliente {
    padding: 10px 15px 10px 10px;     
}

#derechaHeaderCliente div {
    margin-bottom: 5px;
}

#linkClienteHeader {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.1);
}

#dropdown-header-cliente1 {
    height: auto !important;   
    width: 175px !important;
}

#datosWrapper {
    margin-left: 55px;
    margin-top: 25px;
    margin-bottom: 35px;
}

.detalleDatosCliente {
    width: 540px;
    margin-bottom: 15px;    
}

.detalleDatosCliente div.lfloat:first-child {
    width: 180px;
    padding: 5px 10px 5px 5px;    
    font-weight: bold;
    color: rgb(67, 117, 135);
}

.detalleDatosCliente div.lfloat:nth-child(2) {
    width: 330px;
    padding: 5px;       
}

span.editButtonImage {
    background-image: url('../img/iconic/pen_alt_stroke_12x12.png');
    background-position: center center;
    background-repeat: no-repeat;

    display: inline-block;

    line-height: 12px;
    height: 12px;
    width: 12px;
    max-width: 12px;

    overflow: hidden;
    text-indent: -9999px;
}

.detalleDatosCliente div:nth-child(2) span + button {
    margin-left: 10px;
}

.detalleDatosCliente div:nth-child(2) button:hover {
    opacity: 1.0;
}

.smallButton {
    padding: 0;
    width: 24px;
    height: 20px;
    line-height: 12px ;    
    cursor: pointer;

    background: #F3F3F3;
    border: solid 1px #D9D9D9;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

    -webkit-transition: border-color .20s;
    -moz-transition: border-color .20s;
    -o-transition: border-color .20s;
    transition: border-color .20s;
}

.smallButton2 {
    padding: 0;   
    height: 20px ;     
    cursor: pointer;

    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    font: bold 11px/17px Helvetica, Arial, sans-serif;

    background: #F3F3F3;
    border: solid 1px #D9D9D9;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

    -webkit-transition: border-color .20s;
    -moz-transition: border-color .20s;
    -o-transition: border-color .20s;
    transition: border-color .20s;
}

.mediumOpacity {
    opacity: 0.5;
}

.hide {
    display: none;
}

#libroContableWrapper {
    width: 100%; 
    margin-top: 15px;
}

.libroContableTable {
    border-collapse: collapse;
    width: 2600px;
}

.libroContableTable td, .libroContableTable th, 
.contenedorComprobantesTable  td, .contenedorComprobantesTable th { 
    border: 1px solid #CCC;
    padding: 5px;    
}

.libroContableTable thead, .contenedorComprobantesTable thead {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
        sans-serif;
    color: #6D929B;    
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;    
    background-color: #FFF8DB;
}

.libroContableTable tbody, .contenedorComprobantesTable tbody, 
.contenedorComprobantesTable tfoot {
    font: normal 12px "Trebuchet MS", Verdana, Arial, Helvetica,
        sans-serif;    
    background: #fff;
    padding: 6px;
    color: rgb(51,51,51);;
    text-align: center;
}

.libroContableTable tbody tr:hover, .contenedorComprobantesTable tbody tr:hover,
.contenedorComprobantesTable tfoot tr:hover {
    background-color: #EDF1EA;
}

.contenedorComprobantesTable {
    border-collapse: collapse;
    width: fit-content;
    margin: 5px auto;

}

.detallesComprobanteTable {
    border-collapse: collapse;
    width: fit-content;    
}

.detallesComprobanteTable td, .detallesComprobanteTable th {
    border: 1px solid #ADC6C7;
    padding: 8px;
    text-align: center;
}

.detallesComprobanteTable thead {
    background-color: #FFF8DB;
}

.paddingTopBig {
    padding-top: 19px !important;
    padding-bottom: 5px !important;
}

.verDetallesComprobanteTable {
    border-collapse: collapse;
    width: fit-content;  
    margin: 15px auto;
}

.verDetallesComprobanteTable td, .verDetallesComprobanteTable th {
    border: 1px solid #ADC6C7;
    padding: 5px;
    text-align: center;
}

.verDetallesComprobanteTable thead {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
        sans-serif;
    color: #6D929B;    
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;    
    background-color: #FFF8DB;
}

.verDetallesComprobanteTable tbody, .verDetallesComprobanteTable tfoot {
    font: normal 12px "Trebuchet MS", Verdana, Arial, Helvetica,
        sans-serif;    
    background: #fff;    
    color: rgb(51,51,51);;
    text-align: center;
}

.verDetallesComprobanteTable tbody tr:hover, .verDetallesComprobanteTable tfoot tr:hover {
    background-color: #EDF1EA;
}

.lineaDetalleDialog1 {
    margin-bottom: 3px;
}

.lineaDetalleDialog1 div:first-child {
    width: 145px;      
    font-weight: bold;
    color: rgb(67, 117, 135);    
}

.lineaDetalleDialog1 div:nth-child(2) {
    width: 235px; 
    padding-left: 10px;
}

.detalleResumen1 {
    margin-top: 8px;
    margin-left: 15px;
}

.idx1 {
    color: rgb(67, 117, 135);
}

.idx2 {
    display: inline-block;
    margin-left: 10px;
}

.pointer {
    cursor: pointer;    
} 

.color1 {
    color: rgb(153, 153, 153); 
}

.ul1 {
    list-style-image: url('../img/iconic/check_12x10.png');    
    padding-left: 20px;
}

span.verDetallesComprobanteIcon {
    background-image: url('../img/iconic/read_more_12x12.png');
    background-position: center center;
    background-repeat: no-repeat;

    /*display: inline-block;*/

    line-height: 12px;
    height: 12px;
    width: 12px;
    max-width: 12px;

    overflow: hidden;
    /*text-indent: -9999px;*/

    cursor: pointer;
    padding-left: 18px;    
}

.verInfo {
    background-image: url('../img/iconic/info_8x16.png');
    background-position: center center;
    background-repeat: no-repeat;

    display: inline-block;

    line-height: 16px;
    height: 16px;
    width: 8px;
    max-width: 8px;

    overflow: hidden;
    text-indent: -9999px;

    cursor: pointer;
    padding-left: 10px;    
}

.importante {
    color: #E06666;
    cursor: pointer;
}

.fRight {
    float: right;
}

.fLeft {
    float: left;
}

.pad1 {
    padding-left: 25px;
}

.pad2 {
    padding-left: 35px;
    margin-top: 45px;
}

.x-grid-row-summary {
    background-color: #E6FFB2;
}
